*{
    margin: 0;
    padding: 0;
    color:white;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url("/assets/fonts/SF-Pro-Display-Medium.ttf");
}

@font-face {
    font-family: 'Advent_Pro';
    src: url("/assets/fonts/Advent_Pro/AdventPro-Regular.ttf");
}

@mixin fontType {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}


body {
    background: linear-gradient(180deg, #4A113C 0%, #261121 15.63%, #261121 100%);
    background-repeat: no-repeat;
}
//header
.container {
    max-width: 1180px;
    margin: 0 auto;
}



.header {
    padding: 29px 0 38px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

.logo{
    max-height: 56px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 359px;
    height: 36px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 100px;
    background: #602752;
    margin-bottom: 3px;
    margin-right: 60px;
}

.buttons-container__button{
    background-color: transparent;
    border-radius: 100px;
    border:0;
    text-align: center;
    width: 118px;
    color: rgba(255, 255, 255, 0.70);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @include fontType;
    font-size: 15px;
}

.active{
    background: #FE9B0E;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
    font-weight: 600;
    color:white;
}

.search__button{
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 1000px;
    background: #602752;
    border:0;
    margin-bottom: 3px;
}

//main

//main-left-column

.main .container{
    display: flex;
}

.current-film-image{
    position: relative;
    height: 545px;

    img{
        width: 100%;
    }
}

.current-film-image__play-button{
    display: block;
    position: absolute;
    top:247px;
    left:158px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.50);
    width: 62px;
    height: 62px;
    padding: 17.438px;
    border: 0;

}

.buy-button{
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontType;
    margin-top:22px;
    border-radius: 8px;
    background:  #FE9B0E;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.04);
    width: 377px;
    height: 44px;
    font-weight: 600;
    border: 0;
}

//main-right-section

.right-column{
    margin-left: 20px;
}

.film-name{
    @include fontType;
    font-size: 37px;
    font-weight:700;
    letter-spacing: normal;
    letter-spacing: 0.5px;
    padding: 4px 0 15px 0;
}

.date{
    @include fontType;
    font-size: 16px;
    line-height: 130%; /* 20.8px */
    color: rgba(255, 255, 255, 0.70);
    letter-spacing: normal;
}

.film-attributes-list{
    display: flex;
    width: 324px;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 11px;
}

.film-attributes-list__item{
    display: flex;
    margin-right: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.50);
    @include fontType;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);

    span{
        margin-left:2px;
        color: rgba(255, 255, 255, 0.70);
    }
}

.review{
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #695965;
    width: 343px;
    height: 32px;
    display: flex;
}

.review-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 30px;
}

.review-section__imdb{
    @include fontType;
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
}

.review-section__review-amount{
    @include fontType;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
    font-weight: 400;
}

.star-section{
    display: flex;
    align-items: center;

    span{
        @include fontType;
        font-weight: 700;
        font-size: 20px;
        margin-left: 4px;
    }
}

.review__divider{
    height: 32px;
    width: 1px;
    margin: 0 14px;
    background: rgba(255, 255, 255, 0.20);
}

.film-info-items{
    width: 494px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.film-info-item{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.film-info-item__type{
    @include fontType;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 4px;
}

.film-info-item__value{
    @include fontType;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: normal;
}

.horizontal-divider{
    width: 783px;
    height: 1px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 15px;
}

.roles{
    color: rgba(255, 255, 255, 0.70);
    @include fontType;
    margin-bottom: 4px;
    letter-spacing: normal;
}

.actors{
    @include fontType;
    font-size: 16px;
    line-height: 130%; /* 20.8px */
    letter-spacing: normal;
    margin-bottom: 20px;
}

.header-above-pictures{
    @include fontType;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 0.6px;
}

.pics-container{
    display:flex;
    width: 584px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.film-picture{
    width: 188px;
    height: 106px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(14, 31, 53, 0.12);
}

.film-plot{
    @include fontType;
    font-size: 18px;
    line-height: 27px; /* 150% */
    margin-bottom: 11px;
}

.addition{
    display: flex;
    margin-bottom: 26px;
    p{
        @include fontType;
        color: #FE9B0E;
        font-size: 16px;
        line-height: 130%; /* 20.8px */
        margin-right: 2px;
    }
    button{
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
    }
}

.similar-films{
    .container{
        display: flex;
        flex-direction: column;
    }
}

.similar-genre{
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontType;
    font-size: 21px;
    font-weight: 700;
    width: 1180px;
    height: 59px;
    padding: 19px 0px 18px 0px;
    border-radius: 6px;
    border: 1px solid #503449;
    background: #503449;
    box-sizing: border-box;
    margin-bottom: 18px;
}

.films-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 16px;
    height: 380px;
    width: 1180px;
    margin-bottom: 54px;
}

.film-card{
    display:flex;
    align-items: center;
    width: 380px;
    height: 182px;
    border-radius: 10px;
    background: #392534;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.15);

    img{
        border-radius: 6px;
        padding: 0 12px 0 16px
    }
}

.film-info{
    display:flex;
    flex-direction: column;
}

.film-info__name{
    @include fontType;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.film-info__general-info{
    @include fontType;
    width: 227px;
    font-size: 16px;
    line-height: 130%; /* 20.8px */
    margin-bottom: 41px;
    color: rgba(255, 255, 255, 0.70);
}

.film-attributes-list_inCard{
    margin-bottom: 0px;
    width: 172px;
    justify-content: space-between;
}


.film-attributes-list__item_film-card{
    background: transparent;
}

.footer{
    background: #4A113C;
    .container{
        padding-top: 25px;
    }
}

.topics{
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
}

.logo-and-button{
    margin-right:271px;

    img{
        margin-left:13px;
    }
}

.logo-and-button__text{
    @include fontType;
    color: #DCD6DB;
    font-size: 13px;
    line-height: 130%; /* 16.9px */
    margin-top:10px;
    margin-bottom: 20px;
    width: 232px;
    letter-spacing: normal;
}

.buy-button_subscribe{
    display: flex;
    width: 151px;
    height: 28px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    margin-top:20px;
    @include fontType;
    font-size: 12px;
    padding:0;
    font-weight: 600;
    
}

.cinema{
    margin-right:30px;
    padding-top: 21px;
}

.events{
    margin-right:82px;
    padding-top: 21px;
}

.sport{
    padding-top: 21px;
}


.group-list-header{
    @include fontType;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px
}

.group-list-item{
    @include fontType;
    line-height: 130%; /* 20.8px */
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: normal;
}

.payment-and-security{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-methods{
    display: flex;
    justify-content: space-between;
    width:355px;
}

.privacy-policy{
    @include fontType;
    color:  #FE9B0E;
    font-family: SF Pro Display;
    font-size: 12px;
    margin: 15px 0 6px 0;
    letter-spacing: normal;
}

.entity{
    @include fontType;
    font-family: "Advent_Pro";
    font-size: 12px;
    line-height: 150%; /* 18px */
    opacity: 0.5;
    margin-bottom: 21px;
    letter-spacing: 1px;
}

@media (max-width:1180px) and (min-width:835px) {

    .container {
        max-width: 696px;
        margin: 0 auto;
    }

    .header {
        padding: 19px 0 42px 0;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }

    .main{
        .container{
            flex-direction: column;
        }
    }

    .current-film-image{
        height: 408px;
    }

    .current-film-image__play-button{
        top: 151px;
        left:317px;
    }

    .right-column{
        margin-left: 0;
        display:flex;
        flex-direction: column;
    }

    .right-column>div, p, ul, h2{
        order: 1;
    }

    .tablet-helper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;
    }

    .buy-button{
        margin: 0;
        @include fontType;
        width: 302px;
        height: 51px;
        text-align: center;
        letter-spacing: normal;
    }

    .film-name{
        position: relative;
        order:0;
        margin: -114px 0 0 0 ;
        z-index:1;
        padding:0;
    }

    .date{
        margin: 11px 0 12px 0;
        position: relative;
        z-index: 1;
    }

    .film-attributes-list{
        margin-bottom: 22px;
    }

    .pics-container{
        margin-bottom: 29px;
    }

    .film-plot{
        margin-bottom: 9px;
    }

    #hd1{
        order:6;
    }

    #film-info-items{
        order: 7;
    }

    #hd2{
        order:8;
    }

    #roles{
        order:9;
    }

    #actors{
        order: 10;
    }

    .addition{
        margin-bottom: 25px;
    }

    .horizontal-divider{
        width: 696px;
        margin:0;
    }

    .film-info-items{
        margin: 20px 0 19px 0;
    }

    .roles{
        margin-bottom: 4px;
        margin-top: 15px;
    }

    .actors{
        margin-bottom: 36px;
    }

    //section similar films

    .similar-genre{
        font-size: 16px;
        font-weight: 600;
        width: 696px;
        height: 44px;
        border-radius: 0px;
        border:none;
        margin-bottom: 19px;
    }

    .films-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 19px;
        height: 383px;
        width: 696px;
        margin-bottom: 21px;
        overflow: hidden;
    }

    .film-card{
        display:flex;
        align-items: center;
        width: 337px;

        img{
            border-radius: 6px;
        }
    }

    .film-attributes-list_inCard{
        margin-bottom: 0px;
    }

    .film-info__general-info{
        letter-spacing: normal;
        margin-bottom: 38px;
    }

    //footer

    .topics{
        margin-bottom: 47px;
    }

    .logo-and-button{
        margin-right:21px;

        img{
            margin-left:13px;
        }
    }

    .cinema{
        margin-right:6px;
    }

    .events{
        margin-right:43px;
    }

    .buy-button_subscribe{
        width: 151px;
        height: 28px;
        margin-top: 14px;
        font-size: 12px;
        font-weight: 600;
    }


    .logo-and-button__text{
        margin-top:14px;
        width: 190px;
        margin-bottom: 0;
    }

    .group-list-item{
        letter-spacing: normal;
    }

    .privacy-policy{
        margin-bottom: 3px;
    }

    .entity{
        margin-bottom: 24px;
    }
}

@media (max-width:834px) and (min-width:375px) {

    .container {
        max-width: 343px;
        margin: 0 auto;
    }

    .header {
        padding:0;
        .container{
            align-items: center;
            margin-top: 50px;
        }
    }

    .buttons{
        display: none;
    }

    .logo{
        margin-left: 141px;
    }

    //main
    .main .container{
        flex-direction: column;
        overflow: hidden;
    }
    .current-film-image{
        position: relative;
        height: 420px;
        width: 375px;
        margin-left: -16px;

        img{
            width: 100%;
        }
    }

    .current-film-image__play-button{
        top:179px;
        left:157px;
    }

    .search{
        margin:16px;
    }

    .right-column{
        margin-left: 0;
        display:flex;
        flex-direction: column;
    }

    .right-column>div, p, ul, h2{
        order: 1;
    }

    .tablet-helper{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }


    .buy-button{
        margin: 0;
        @include fontType;
        width: 343px;
        height: 44px;
        text-align: center;
        letter-spacing: normal;
        margin-bottom: 26px;
    }

    .film-name{
        position: relative;
        order:0;
        margin: -139px 0 0 0 ;
        z-index:1;
        padding:0;
        font-size: 24px;
        font-weight: 700;
    }

    .date{
        margin: 8px 0 12px 0;
        position: relative;
        z-index: 1;
    }

    .film-attributes-list{
        margin-bottom: 32px;
        position: relative;
        z-index: 1;
    }

    .review{
        border: none;
        margin-bottom: 34px;
    }

    .pics-container{
        margin-bottom: 12px;
        width: 392px;
        
    }

    #delete-on-mobile{
        display: none;
    }

    .film-plot{
        font-size: 16px;
        margin-bottom: 4px;
    }

    #hd1{
        order:6;
    }

    #film-info-items{
        order: 7;
    }

    #hd2{
        order:8;
    }

    #roles{
        order:9;
    }

    #actors{
        order: 10;
    }

    .addition{
        margin-bottom: 12px;
    }

    .horizontal-divider{
        width: 696px;
        margin:0;
    }

    .film-info-items{
        margin: 0;
        flex-direction: column;
        height: 204px;
        justify-content: space-between;
    }

    .roles{
        margin-bottom: 4px;
        margin-top: 12px;
    }

    .actors{
        margin-bottom: 32px;
    }

    ///////////////////
    
    //section similar films

    .similar-genre{
        font-size: 24px;
        font-weight: 700;
        width:100%;
        margin-bottom: 16px;
        background: transparent;
        border: none;
        justify-content: flex-start;
        padding: 0;
    }

    .films-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 16px;
        height: 1092px;
        width: 375px;
        margin-bottom: 32px;
        overflow: hidden;
    }

    .film-card{
        display:flex;
        align-items: center;
        width: 337px;
        height: 150px;
        background-color: transparent;

        img{
            border-radius: 6px;
            padding:0;
            padding-right: 12px;
        }
    }

    .film-attributes-list_inCard{
        margin-bottom: 0px;
    }

    .film-info__general-info{
        letter-spacing: normal;
        margin-bottom: 38px;
    }

    //footer

    .topics{
        margin-bottom: 47px;
    }

    .logo-and-button{
        margin-right:21px;

        img{
            margin-left:13px;
        }
    }

    .cinema{
        margin-right:6px;
    }

    .events{
        margin-right:43px;
    }

    .buy-button_subscribe{
        width: 151px;
        height: 28px;
        margin-top: 14px;
        font-size: 12px;
        font-weight: 600;
    }


    .logo-and-button__text{
        margin-top:14px;
        width: 190px;
        margin-bottom: 0;
    }

    .group-list-item{
        letter-spacing: normal;
    }

    .privacy-policy{
        margin-bottom: 3px;
    }

    .entity{
        margin-bottom: 24px;
    }
}