*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url("/assets/fonts/SF-Pro-Display-Thin.otf");
}

body {
    background: linear-gradient(180deg, #4A113C 0%, #261121 15.63%, #261121 100%);
    background-repeat: no-repeat;
}
//header
.container {
    max-width: 1180px;
    margin: 0 auto;
}



.header {
    padding: 29px 0 38px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

.logo{
    max-height: 56px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 359px;
    height: 36px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 100px;
    background: #602752;
    margin-bottom: 3px;
    margin-right: 60px;
}

.buttons-container__button{
    background-color: transparent;
    border-radius: 100px;
    border:0;
    text-align: center;
    width: 118px;
    color: rgba(255, 255, 255, 0.70);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "SF Pro Display", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.active{
    background: #FE9B0E;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
    color:white;
    font-weight: 600;
}

.search__button{
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 1000px;
    background: #602752;
    border:0;
    margin-bottom: 3px;
}

//main

//main-right-section

.main .container{
    display: flex;
}

.main-image{
    position: relative;
    height: 545px;

    img{
        width: 100%;
    }
}

.main-image__play-button{
    display: block;
    position: absolute;
    top:247px;
    left:158px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.50);
    width: 62px;
    height: 62px;
    padding: 17.438px;
    border: 0;

}

.main-button{
    font-family: "SF Pro Display", sans-serif;
    margin-top:22px;
    border-radius: 8px;
    background: var(--primary, #FE9B0E);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.04);
    width: 377px;
    height: 44px;
    padding: 15px 96px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}